/* You can add global styles to this file, and also import other style files */

html, body { background-color:gray; height: 100%; margin-left: 2rem; margin-top: 2rem;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
